body {
  /* background-color: white; */
  /* background-color: clear; */
  height: 100%;
}

/* .appbar {
  background-color: black !important;
  padding: 0 10px !important;
} */

/* .appbar muidocs-icon-navigation-menu {
  color: black;
} */

/* .appbar_title {
  color: white !important;
} */

.home {
  text-align: center;
}
